img {
    height: 150px;
    width: auto;
}

a {
    text-decoration: none;
    color: black;
}

.cats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
    margin: 15px auto 25px auto;
}
.cat {
    margin: 15px;
}

.tally, .evvie, .littlegirl, .biggirl, .tommy {
    display: flex;
    flex-direction: column;
}