main {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 200px auto auto auto;
}

.it, .retail, .chemistry, .foods {
    color: #154360;
}

a {
    text-decoration: none;
}

main a {
    font-size: 18px;
}

main a {
    text-align: center;
    margin: 15px 55px;
}

@media (max-width: 900px) {
    main {
        margin-top: 20px;
    }
}
