table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    margin: auto;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #F2F3F4;
}

tr{
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

span {
    font-size: small;
}

img {
    height: 120px;
    width: 80px;
    margin: auto;
    display: block;
}

th, .center{
    text-align: center;
}