.readingsection {
    text-align: center;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #F8F9F9;
    border: 1px solid black;
    height: fit-content;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.book {
    padding: 15px 35px;
    text-align: center;
    min-width: 280px;
    border-right: 1px solid black;
}

.book img {
    height: 150px;
}

.intro {
    background-color: #F2F3F4;
    padding: 20px;
    min-width: 150px;
    max-width: 150px;
    border-right: 1px solid black;;
}

.moreInfo {
    font-size: 14px;
    text-align: left;
}

#longcover {
    font-size: 15px;
}

span {
    font-family: 'Comme', sans-serif;
    ;
}

img {
    height: 150px;
}