.top {
    display: flex;
    justify-content: space-around;
}

.top img {
    height: 300px;
    border: 3px black solid;
    border-radius: 20px;
}

.top h1 {
    font-size: 1.7rem;
    color: #323232;
    text-align: center;
}

.top h2 {
    font-size: 1.2rem;
    text-align: center;
}

.top p {
    margin-left: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    border: 3px solid black;
    border-radius: 20px;
    height: 200px;
    margin-top: 50px;
    padding: 20px;
}

#dateInfo {
    display: flex;
}

@media (max-width: 950px) {
    .top {
        flex-direction: column;
    }

    .top img {
        max-width: 60%;
        height: auto;
        margin: auto auto 50px auto;
    }

    .info {
        height: fit-content;
        width: 70%;
        margin: auto;
    }

} 

.bottom {
    margin: 25px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bottom h3 {
    font-size: 1.3rem;
    margin-top: 12px;
}

.bottom p {
    font-size: 1.1rem;
    text-align: justify;
    max-width: 200px;
}

.stat {
    text-align: center;
    margin: 40px 12px 0px 12px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
}

#word {
    color: #3498DB;
}

#fact {
    color: #E74C3C;
}

#history {
    color: #27AE60;
}

#wordStat {
    background-color: #EBF5FB;
}

#factStat {
    background-color: #FDEDEC;
}

#historyStat {
    background-color: #EAFAF1;
}