p {
    font-size: 20px;
    text-align: center;
}

.cats {
    justify-content: center;
    align-items: center;
    background-color: #AED6F1;
    border-radius: 10px;
    border: 4px solid black;
    padding: 5px;
}

.catss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #AED6F1;
    padding: 5px;
}

.cats h2 {
    text-align: center;
}

.cat img {
    width: 250px;
    height: 250px;
    width: 240px;
    border: 4px solid black;
    margin: 30px 20px 10px 20px;
    object-fit:cover;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#tally:hover, #evvie:hover, #littlegirl:hover, #biggirl:hover, #tommy:hover {
    cursor: pointer;
}